[project]
	description = Chrome-inspired window decoration for the KDE KWin window manager.
[access "refs/*"]
	owner = group user/Jin Liu (jinliu)
[access "refs/for/refs/*"]
	read = group user/Jin Liu (jinliu)
	push = group user/Jin Liu (jinliu)
	label-Code-Review = -2..+2 group user/Jin Liu (jinliu)
	label-Verified = -1..+1 group user/Jin Liu (jinliu)
	rebase = group user/Jin Liu (jinliu)
	removeReviewer = group user/Jin Liu (jinliu)
	submit = group user/Jin Liu (jinliu)
[access "refs/heads/*"]
	read = group user/Jin Liu (jinliu)
	create = group user/Jin Liu (jinliu)
	push = +force group user/Jin Liu (jinliu)
	pushMerge = group user/Jin Liu (jinliu)
[access "refs/tags/*"]
	push = +force group user/Jin Liu (jinliu)
	pushTag = group user/Jin Liu (jinliu)
	pushSignedTag = group user/Jin Liu (jinliu)
