[Desktop Entry]
Name=Chrome
Comment=Google chrome window border clone for aurorae

X-KDE-PluginInfo-Author=scnd101
X-KDE-PluginInfo-Email=scnd101
X-KDE-PluginInfo-Name=chrome
X-KDE-PluginInfo-Version=0.95
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL_V2
X-KDE-PluginInfo-EnabledByDefault=true
